<div class="login">
	<div class="login__container">
		<div class="login__content">
			<h4 class="pink bold header__back"><a href="#" class="flex ac"><img src="../../assets/toolkit/images/008-delete.svg" alt="">Back</a></h4>
			<div class="login__header mb50">
				<img src="../../assets/toolkit/images/logo.svg" alt="">
				<p class="gray">The interesting thing is that everyone sitting on the couch with a bag of popcorn watching these shows are broke. </p>
			</div>
			<div class="login__hero">
				<div class="login__hero--left">
					<h1 class="bold text-center">Reset your password</h1>
					{{> alert}}
					{{> alert classes="red" }}
					<div class="input__wo-border">
						<input class="input first fmt" type="text" placeholder="Email">
						<p class="login__rm light-gray text-center">By clicking this button, you agree to our <a class="bold" href="#">Terms, Privacy Policy.</a></p>
						<button class="button full">Reset password</button>
						<p class="sign-in light-gray text-center">Return to <a href="#">Sign in here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>