{{> header main-nav="true" classes="back__header"}}
<section class="home-hero">
	<div class="home-hero__left">
		<div class="home-hero__left--content">
			<h1 class="gray bold">Find real problems solved for millions of people</h1>
			<h5 class="light-gray">UXstories is hand picked collection of top apps on App Store that have the best practises of UX from login to purchasing a product and more.</h5>
			<div class="home-hero__input">
				<input class="input" type="text" placeholder="Enter your email">
				<button class="button">SIGN UP</button>
			</div>
		</div>
	</div>
	<div class="home-hero__img"></div>
</section>
{{> secondary-header sh-first="true" classes="smaller"}}

<section class="apps">
	<div class="apps__container">
		<div class="apps__content">
			<div class="app">
				<div class="apps__top">
					<div class="apps__top-image" style="background-image: url('../../assets/toolkit/images/netflix-logo.jpg')"></div>
					<div class="apps__top-info">
						<h5 class="bold">Netflix</h5>
						<p class="apps__small-title light-gray">Watch TV Shows & Movies</p>
						<p>© Copyright <span class="bold">Company name</span></p>
					</div>
				</div>
				<div class="apps__main">
					<div class="apps__main-category">
						<div>
							<p class="apps__small-title light-gray">Category</p>
							<p>Entertaiment</p>
						</div>
						<button class="button naked pink">View Stories</button>
					</div>
					<div class="apps__main-images">
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix1.jpg" alt="">	
						</div>
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix2.jpg" alt="">
						</div>
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix3.jpg" alt="">
						</div>

					</div>
				</div>
			</div>
			<div class="app">
				<div class="apps__top">
					<div class="apps__top-image" style="background-image: url('../../assets/toolkit/images/netflix-logo.jpg')"></div>
					<div class="apps__top-info">
						<h5 class="bold">Netflix</h5>
						<p class="apps__small-title light-gray">Watch TV Shows & Movies</p>
						<p>© Copyright <span class="bold">Company name</span></p>
					</div>
				</div>
				<div class="apps__main">
					<div class="apps__main-category">
						<div>
							<p class="apps__small-title light-gray">Category</p>
							<p>Entertaiment</p>
						</div>
						<button class="button naked pink">View Stories</button>
					</div>
					<div class="apps__main-images">
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix1.jpg" alt="">	
						</div>
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix2.jpg" alt="">
						</div>
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix3.jpg" alt="">
						</div>
						
					</div>
				</div>
			</div>
			<div class="app">
				<div class="apps__top">
					<div class="apps__top-image" style="background-image: url('../../assets/toolkit/images/netflix-logo.jpg')"></div>
					<div class="apps__top-info">
						<h5 class="bold">Netflix</h5>
						<p class="apps__small-title light-gray">Watch TV Shows & Movies</p>
						<p>© Copyright <span class="bold">Company name</span></p>
					</div>
				</div>
				<div class="apps__main">
					<div class="apps__main-category">
						<div>
							<p class="apps__small-title light-gray">Category</p>
							<p>Entertaiment</p>
						</div>
						<button class="button naked pink">View Stories</button>
					</div>
					<div class="apps__main-images">
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix1.jpg" alt="">	
						</div>
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix2.jpg" alt="">
						</div>
						<div class="app__images">
							<img src="../../assets/toolkit/images/netflix3.jpg" alt="">
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

