<div class="inside-stories">
	<div class="inside-stories__container">
		<span class="inside-stories__close"><img src="../../assets/toolkit/images/006-error.svg" alt=""></span>
		<div class="inside-stories__top">
			<div class="apps__top">
				<div class="apps__top-image" style="background-image: url('../../assets/toolkit/images/netflix-logo.jpg')"></div>
				<div class="apps__top-info">
					<h5 class="bold">Netflix</h5>
					<p class="apps__small-title light-gray">Speaking comes to most people as naturally as breathing.</p>
				</div>
			</div>
			<p class="pink"><a href="#">See other stories</a></p>
		</div>
		<div class="inside-stories__hero">
			<div class="inside-stories__video">
				<img src="../../assets/toolkit/images/netflix1.jpg" alt="" style="width: 230px;">
			</div>
			<div class="inside-stories__info">
				<div class="inside-stories__card">
					<div class="inside-stories__card--inside">
						<p class="bold">Screens</p>
						{{> labels classes="no-close" text="Logins" }}
						{{> labels classes="no-close" text="Passwords" }}
						{{> labels classes="no-close" text="Signup" }}
					</div>
					<div class="inside-stories__card--inside">
						<p class="bold">Elements</p>
						{{> labels classes="no-close" text="Input" }}
						{{> labels classes="no-close" text="Buttons" }}
					</div>
					<hr>
					<div class="inside-stories__card--share">
						<p class="bold">Share</p>
						<div>
							<a href="#"><img src="../../assets/toolkit/images/fb.svg" alt=""></a>
							<a href="#"><img src="../../assets/toolkit/images/twt.svg" alt=""></a>
							<a href="#"><img src="../../assets/toolkit/images/pt.svg" alt=""></a>
							<a href="#"><img src="../../assets/toolkit/images/mail.svg" alt=""></a>
						</div>
					</div>
					<hr>
					<div class="inside-stories__card--save">
						<p class="bold">Save to libraries</p>
						<button class="button">Select library</button>
					</div>
				</div>
				<div class="inside-stories__card small">
					<p class="bold">Sponsored</p>
					<div class="inside-stories__card--sponsored">
						<div class="sponsored-card">
							<img src="../../assets/toolkit/images/hdhd.svg" alt="">
						</div>
						<p class="light-gray bold">Plan your team’s availabilty and we will estimate when work starts. Also manage projects with stories.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>