<div class="login">
	<div class="login__container">
		<div class="login__content">
			<h4 class="pink bold header__back"><a href="#" class="flex ac"><img src="../../assets/toolkit/images/008-delete.svg" alt="">Back</a></h4>
			<div class="login__header">
				<img src="../../assets/toolkit/images/logo.svg" alt="">
				<p class="gray">The interesting thing is that everyone sitting on the couch with a bag of popcorn watching these shows are broke. </p>
			</div>
			<div class="login__hero">
				<div class="login__hero--left">
					<h1 class="bold text-center">Welcome back</h1>
					<div class="input__wo-border">
						<input class="input first fmt" type="email" placeholder="Email">
						<input class="input last fmt" type="password" placeholder="Password">
						<p class="login__rm light-gray text-right"><a href="#">Forgot your password</a></p>
						<button class="button full">Log in</button>
					</div>
				</div>
				<div class="login__card">
					<div class="login__card-img"><img src="../../assets/toolkit/images/invalid-name.svg" alt=""></div>
					<h3 class="white">Join us and create free acount</h3>
					<button class="bold button whitest small">Sign up here</button>
				</div>
			</div>
		</div>
	</div>
</div>