{{> header main-nav="true" classes="back__header"}}

<div class="price">
	<div class="price__content">
		<div class="login__header mb50">
			<img src="../../assets/toolkit/images/emoj.svg" alt="">
			<h2 class="bold">Welcome on board</h2>
			<p class="gray">We are soo happy to see you here, we have two options to make your experience great in UXstories.</p>
		</div>
		<div class="cards">
			<div class="price-card">
				<h3 class="pink">Starter</h3>
				<h1 class="bold">Free</h1>
				<p>Per lifetime</p>
				<div class="price-card__options">
					<p class="bold"><span><img src="../../assets/toolkit/images/008-delete.svg" alt=""></span>Browse all apps/stories</p>
					<p class="light-gray bold"><span><img src="../../assets/toolkit/images/008-delete.svg" alt=""></span>Create Unlimited libraries</p>
					<p class="light-gray bold"><span><img src="../../assets/toolkit/images/008-delete.svg" alt=""></span>Version travel</p>
				</div>
				<div class="text-center">
					<button class="button">Continue Free</button>
				</div>
			</div>
			<div class="price-card pink">
				<h3 class="white">Pro Plan</h3>
				<h1 class="bold white">$24</h1>
				<p class="white">Yearly Subscription</p>
				<div class="price-card__options">
					<p class="bold white"><span><img src="../../assets/toolkit/images/008-delete.svg" alt=""></span>Browse all apps/stories</p>
					<p class="bold white"><span><img src="../../assets/toolkit/images/008-delete.svg" alt=""></span>Create Unlimited libraries</p>
					<p class="bold white"><span><img src="../../assets/toolkit/images/008-delete.svg" alt=""></span>Version travel</p>
				</div>
				<div class="text-center">
					<button class="button whitest">Continue Free</button>
				</div>
			</div>
		</div>
</div>