{{> header main-nav="true" classes="back__header"}}

<div class="subscription">
	<div class="subscription__container">
		<div class="subscription__content">
			<div class="subscription__user">
				<div class="subscription__user--img" style="background-image: url(https://scontent.fprn1-1.fna.fbcdn.net/v/t1.0-1/p160x160/35988964_1041356179350456_5301902918050381824_n.jpg?_nc_cat=105&_nc_ht=scontent.fprn1-1.fna&oh=2142e132de1a494501a3fc90d51e365c&oe=5D4FB1D7)"></div>
				<h2 class="bold">Seth Popaji</h2>
			</div>
			<div class="subscription__subscription">
				<h3 class="bold">My Subscriptions</h3>
				<hr>
				<h5 class="bold">Credit Card</h5>
				<p class="gray bold sbsm">Currently, you don’t have a credit card on file. You can <a href="#" class="pink">add a credit card</a> which allows you to easily purchase jobs.</p>
				<a href="#" class="button">Update Card</a>
				<div class="table-content">
					<h5 class="bold">Order History</h5>
					<table class="unstriped payments-table">
						<thead>
							<tr>
								<td>Start Date</td>
								<td>End date</td>
								<td>Type</td>
								<td>Price</td>
								<td style="width: 20%;">Billing frequency</td>
								<td>Invoice</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2 January</td>
								<td>2 January</td>
								<td><p class="pink">PRO</p></td>
								<td class="td-bold">$299</td>
								<td class="td-green">Yearly</td>
								<td class="td-blue"><a href="#" class="button">View</a></td>
							</tr>
							<tr>
								<td>2 January</td>
								<td>2 January</td>
								<td><p class="pink">PRO</p></td>
								<td class="td-bold">$299</td>
								<td class="td-green">Yearly</td>
								<td class="td-blue"><a href="#" class="button">View</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>