
.radio__container, .radio-t {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 276px;
  border-radius: 2px;
  background-color: rgba(91, 93, 110, 0.12);
  padding: 7px 11px;
  &.checked {
    background-color: rgba(199, 88, 117, 0.22);
    p {
      color: #c75875;
    }
  }
}

.radio-t {
    .checkmark {
      border-radius: 50%; 
      &:after {
        width: 6px;
        height: 10px;
        top: 3px;
        left: 6px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
     input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background-color: #c75875;
        border: 1px solid #c75875;
      }
      &:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

/* Hide the browser's default checkbox */
.radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  right: 9px;
  height: 19px;
  width: 19px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border: 1px solid #5b5d6e;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio__container input:checked ~ .checkmark {
  background-color: #c75875;
  border: 1px solid #c75875;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio__container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.radio__container .checkmark:after {
    width: 6px;
    height: 10px;
    top: 3px;
    left: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}