.pink {
  color: #c75875!important;
  &:hover, &:focus {
    color: #c75875;    
  }
}

h1 { 
  margin-bottom: 0;
  font-size: 32px;
  color: #000;
}

h2 {
  margin-bottom: 0;
	font-size: 24px;
	color: #000;
}

.white {
	color: #fff;
}

h3 {
  margin-bottom: 0;
  font-size: 20px;
  color: #000;
  &.white {
    color: #fff;
  }
  &.pink {
    color: #c75875;
  }
}

h4 {
  margin-bottom: 0;
	font-size: 18px;
	color: #000;
  &.pink {
    color: #c75875;
    a {
      color: #c75875;
    }
  }
}

h5 {
  margin-bottom: 0;
	font-size: 16px;
  color: #000000;
  a {
  	color: #000000;
  }
  &.light-gray {
  	color: rgba(0, 0, 0, 0.4);
    a {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

p {
	font-size: 14px;
  color: #000;
  margin-bottom: 0;
  a {
  	color: #000;
  }
  &.light-gray {
  	color: rgba(0, 0, 0, 0.4);
  	a {
      color: rgba(0, 0, 0, 0.4);
	  }
  }
  &.gray {
  	color: #5b5d6e;
  	a {
  		color: #5b5d6e;
  	}
  }
  &.pink {
  	color: #c75875;
  	a {
  		color: #c75875;
  	}
  }
  &.white {
  	color: #fff;
  	a {
  		color: #fff;
  	}
  }
}

.bold {
  font-weight: 500;
  a {
    font-weight: 500;
  } 
}

.horisontal-seperator {
  height: 1px;
  width: 100%;
  display: block;
  margin: 15px 0px;
  background-color: #d3d9e5;
}

.fd-column {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-c {
  justify-content: center;
}

.gray {
    color: #5b5d6e;
    a {
      color: #5b5d6e;
    }
  }