.asided {
	width: 376px;
	margin-top: 35px;
	padding-right: 60px;
	h2 {
		margin: 15px 0px;
	}
	p {
		margin-bottom: 8px;
	}
}

.asided__image {
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: contain;
	border-radius: 15px;
}