.home-hero {
	display: flex;
	height: 570px;
	margin-bottom: 10px;
}
.home-hero__left {
	flex: 1;
}
.home-hero__img {
	background-image: url('../images/homeimg.jpg');
	width: 100%;
	flex: 1;
}
.home-hero__left--content {
	padding: 140px;
	h5 {
		margin-top: 20px;
		margin-bottom: 50px;
	}
}

.home-hero__input {
	display: flex;
	input {
		margin: 0;
		margin-right: 6px;
		border: none;
		width: 183px;
		height: 44px;
		border-radius: 4px;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
  	background-color: rgba(91, 93, 110, 0.1);
  	&::placeholder {
  		color: #707487;
  	}
	}
	button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}